.top {
background-color: black;
color: white;
width: 700px;
margin: auto;
padding-top: 20px;
}
.btn {
    margin-left: 30px;
    padding: 8px 35px 8px 35px;
}
.bottom-list {
    background-color: black;
    color: white;
    width: 700px;
    margin: auto;
    padding-top: 70px;
}
input {

}